<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <link rel= "stylesheet" type= "text/css" href= "/mystyle.css">
</head>
<body>
<h1> SOY LA PÁGINA DEL LIBRO {{#book}}{{title}}{{/book}} :3</h1>
	<nav>

		<a href="/home">Home</a> <a href="/colecciones">Colecciones</a>

		<form style="display: inline-block;" action="/busqueda" method="get">
		
			<input type='input' name='input'> <input type='submit'
				value='Buscar'>
		</form>
		<a href="/perfil">Mi perfil</a>
		
		{{^isRegistered}}
		<a href="/login">Iniciar sesión</a>
		<a href="/crearusuario">Registrarse</a>
		{{/isRegistered}}
		{{#isRegistered}}
		
		<form action="/logout" method=post style="display: inline-block;">
			<input type="hidden" name="_csrf" value="{{token}}"/>
			 <button type="submit" name="id" value="logout" class="btn-link">Cerrar sesión</button>
		</form>
		{{/isRegistered}}
		</nav>
		
	<h1 align = "center"> {{#book}}{{title}}{{/book}} </h1>
	<p>
	<table>
	<tr><td><img class="imgLibro" src="/god.jpeg" alt="User photo" align = "left">	</td>

	<td>
	<h2>Valoración: {{rating}} Número de valoraciones: {{#book}}{{numRatings}}{{/book}} </h2>
			
			
			
			{{#isRegistered}}
				<div><h3>Tu valoración:  </h3>
					<form method="post" action="/books/{{#book}}{{title}}{{/book}}">
					<input type="hidden" name="peticion" value="rate"/>
					<input hidden type ='input' name = 'bookTitle' value = "{{#book}}{{title}}{{/book}}">
					<input type="hidden" name="_csrf" value="{{token}}"/>
					<fieldset class="rating">
						    <input type="radio" id="star5" name="datos" value="5" />
						    	<label class = "full" for="star5" title="Awesome - 5 stars"></label>
						    
						    <input type="radio" id="star4" name="datos" value="4" />
						    	<label class = "full" for="star4" title="Pretty good - 4 stars"></label>
						   
						    <input type="radio" id="star3" name="datos" value="3" />
						    	<label class = "full" for="star3" title="Meh - 3 stars"></label>
						    
						    <input type="radio" id="star2" name="datos" value="2" />
						    	<label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
						   
						    <input type="radio" id="star1" name="datos" value="1" />
						    	<label class = "full" for="star1" title="Sucks big time - 1 star"></label>
						   
					</fieldset>
					<input type='submit' value='Guardar'>
					</form></br>	
				</div>		
			{{/isRegistered}}
			
			<h3>Autor/es: </h3>
			<p>	
				{{#book}}{{#authors}}					
					<ul>					
						<il>
						<!-- Referencia a la página del autor -->	
						<a href="/usuario/{{name}}">{{name}}</a>
						</il>																
					</ul>
					{{/authors}}{{/book}}
				
				</p>
				<!-- Referencia a la editorial -->
			<h3> Editorial:  <a href="/usuario/{{#book}}{{#publisher}}{{name}}{{/publisher}}{{/book}}">
				<h5>{{#book}}{{#publisher}}{{name}}{{/publisher}}{{/book}}</h5> </a> </h3>
				
			
			<h3>Descripción: </h3>
			<p> {{#book}}{{description}}{{/book}}</p>
			<h3>Detalles del libro: </h3>
			
			{{#isRegistered}}
			<h3>Estado: {{bookState}} </h3>
			{{/isRegistered}}
			
			<p> <b>ISBN: </b>{{#book}}{{isbn}}{{/book}}
				<p><b>Género: </b> <p> {{#book}}{{genre}}{{/book}}</p>
			</p>
			
			
			<p> <b>Tags: </b>
				<ul>	
					<il>{{#book}}{{tags}}{{/book}}	</il>
								
				</ul>
			</p>
			
	</p>
	
	<p>
		{{#isRegistered}}
			{{^added}}
			<div>
			<form method="post" action="/books/{{#book}}{{title}}{{/book}}">
				<input hidden type ='input' name = 'bookTitle' value = "{{#book}}{{title}}{{/book}}">
				<input type="hidden" name="_csrf" value="{{token}}"/>
				<input type="hidden" name="peticion" value="col" />
				<input list="datos" name="datos" autocomplete="off">
						  <datalist id="datos">
							  <select>
							  {{#collections}}
							  <option value="{{name}}">
							  {{/collections}}
							  </select>
						  </datalist>
		    	<input type='submit' value='Agregar a colección'>
			</form>
			</div>
			{{/added}}
		{{/isRegistered}}
		{{#added}}
 			Ha sido añadido
		{{/added}}
	</p>
	</td>
	</tr>
	</table>
	
			
	
</body>
</html>