<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
</head>
<body>
<h1>Soy la pagina de buscar cosas OuO</h1>
<nav>
	
	<a href="/home">Home</a>
	<a href="/colecciones">Colecciones</a>
	
	<form style="display: inline-block;" action="/busqueda" method = "get">
		<input type ='input' name = 'input'>
		<input type='submit' value='Buscar'>
	</form>
	<a href="/perfil">Mi perfil</a>
	<a href="/perfil/Jose">Perfil de Autor</a>
	<a href="/perfil/HolyPublisher">Perfil de Editorial</a>
</nav>
	
	<p>Aqui te salen todos los libritos que has buscado con la palabra {{input}}</p>

	
</body>
</html>