<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
  <link rel= "stylesheet" type= "text/css" href= "/mystyle.css">
</head>
<body>
<h1> SOY LA PÁGINA DE COLECCIONES :'D</h1>
<nav>
	
	<a href="/home">Home</a>
	<a href="/colecciones">Colecciones</a>
	
	<form style="display: inline-block;" action="/busqueda" method = "get">
		<input type ='input' name = 'input'>
		<input type='submit' value='Buscar'>
	</form>
	<a href="/perfil">Mi perfil</a>
	<a href="/login">Iniciar sesión</a>
	<a href="/crearusuario">Registrarse</a>
	<form action="/logout" method=post>
			<input type="hidden" name="_csrf" value="{{token}}"/>
			<button type="submit" name="id" value="logout" class="btn-link">logout</button>
			
	</form>
</nav>
	<h2>Mis colecciones</h2> <button style="display: inline-block; vertical-align: middle;" onclick="myFunction()">Añadir colección</button>
	<p id='add'></p>
	
		{{#user}}{{#bookCollection}}
		<div style="background-color: #ffffff; margin: 5px; padding: 15px;">
			
			<!-- <p><a href = /micoleccion/{{id}}><b>{{name}}:</b></a> {{description}} </p> -->
			
			<form action="/micoleccion" method="post">
				<input type="hidden" name="_csrf" value="{{token}}"/>
  				 <button type="submit" name="id" value="{{id}}" class="btn-link">{{name}}:</button>
			</form>
			{{description}}
			
			{{#books}}
				<a href ="/books/{{title}}">{{title}};</a>
			{{/books}}

			<form action="/editarcoleccion" method="post">
				<input type="hidden" name="_csrf" value="{{token}}"/>	
				<input type="hidden" name="id" value="{{id}}">
				<input type='submit' value='Editar'>
			</form>
		</div>
	
		{{/bookCollection}}{{/user}}
		

	
	
	<script>
function myFunction() {
  document.getElementById("add").innerHTML = "<form action='/newCollection' method='post'> <p>Nombre: <input type='input' name='name' value=''></p> <p>Descripción: <input type='input' name='description' value=''><input type='submit' value='Crear'></p></form>";
}
</script>
</body>
</html>