<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
  <link rel= "stylesheet" type= "text/css" href= "/mystyle.css">
</head>
<body>
<h1> SOY LA PÁGINA DE EDICCIÓN DE COLECCIONES >:D</h1>
<nav>
	
	<a href="/home">Home</a>
	<a href="/colecciones">Colecciones</a>
	
	<form style="display: inline-block;" action="/busqueda" method = "get">
		<input type ='input' name = 'input'>
		<input type='submit' value='Buscar'>
	</form>
	<a href="/perfil">Mi perfil</a>
	<a href="/perfil/Jose">Perfil de Autor</a>
	<a href="/perfil/HolyPublisher">Perfil de Editorial</a>
</nav>

	<h2>Editar >> {{#collection}}{{name}}{{/collection}}</h2>
	
	{{#collection}}
	
	<form method = "post" action="/editarcoleccion/{{id}}">
		<p>Nombre: <input type ='input' name='name' value = "{{name}}"></p>
		<p>Descripción: <input type ='input' name='description' value = "{{description}}"></p>
		<p id="removerText">Libros eliminados: </p>
		<input hidden id = "remover" type = 'input' name = 'removedBooks'>
		
		<input type='submit' value='Guardar'>
	</form>
	<ul>
	{{#books}}
			<li id = {{id}}> <a href="/books/{{title}}">{{title}}</a>
				<button onclick= "addBookToRemover({{id}},&quot;{{title}}&quot;)">Borrar</button>
			</li>
	{{/books}}
	</ul>
	
	{{/collection}}
	
	<script>
	function addBookToRemover(id, title) {
		document.getElementById(id).style.visibility = "hidden"
  		document.getElementById("remover").value += id + ";";
		document.getElementById("removerText").innerHTML += title + " | ";
	}
</script>
	
</body>
</html>