<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1> SOY LA PÁGINA DE HOME :3</h1>
	<nav>
	
	<a href="/home">Home</a>
	<a href="/colecciones">Colecciones</a>
	
	<form style="display: inline-block;" action="/busqueda" method = "get">
		<input type ='input' name = 'input'>
		<input type='submit' value='Buscar'>
	</form>
	<a href="/colecciones">Mi perfil</a>
	<ul>
	{{#bookitos}}
		<ul>
		{{name}}
		<ul>
		{{#books}}
			<il>{{name}}</il>
		{{/books}}
		</ul>
		</ul>
	{{/bookitos}}
	</ul>
	</nav>

	
</body>
</html>