<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <link rel= "stylesheet" type= "text/css" href= "/mystyle.css">
</head>
<body>
<h1> SOY LA PÁGINA DE AÑADIR LIBRO</h1>
	<nav>
	
	<a href="/home">Home</a>
	<a href="/colecciones">Colecciones</a>
	
	<form style="display: inline-block;" action="/busqueda" method = "get">
		<input type ='input' name = 'input'>
		<input type='submit' value='Buscar'>
	</form>
	<a href="/colecciones">Mi perfil</a>
	<a href="/perfil/Jose">Perfil de Autor</a>
	<a href="/perfil/HolyPublisher">Perfil de Editorial</a>
	</nav>

	{{#ok}}
		<p>El libro se ha guardado correctamente</p>
	{{/ok}}
	{{#isbnIncorrect}}
		<p>El ISBN introducido no es correcto. Inténtalo de nuevo. </p>
	{{/isbnIncorrect}}
	{{#bookTitleExists}}
		<p> Ya existe un libro con ese nombre </p>
	{{/bookTitleExists}}
	{{#isbnExists}}
		<p> Ya existe un libro con ese ISBN </p>
	{{/isbnExists}}
	
	<form action="/addBook" method = "post" onsubmit="return validate(this)" > <!-- onsubmit="return validate(this)" -->
	<p>Título: <input type='input' name='title' value='' required></p>
	<p>Sinopsis: <input type='input' name='description' value='' required></p>
	<p>Autor: <input type='input' name='author' required></p>
	<p>Editorial:<input type='input' name='publisher' required></p>
	<p>ISBN:<input type='number' name='isbn' required> Debe contener 13 dígitos</p>
	
	<p>Género </p>
	{{#genres}}
		<input type="radio" id="genre{{-index}}" name="genre" value="{{.}}" required>
 		 <label for="genre{{-index}}"> {{.}}</label><br>
	{{/genres}}
	
	<p>Tags </p>
	{{#genres}}
		<input type="checkbox" id="tags{{-index}}" name="tags" value="{{.}}" >
 		 <label for="tags{{-index}}"> {{.}}</label><br>
	{{/genres}}
	
	<input type='submit' value='Aceptar' >
	</form>
	
<script type="text/javascript">
function validate(form) {
	var okay = false;
	const checkboxes = form.querySelectorAll('input[type=checkbox]');
		for(let i = 0; i<checkboxes.length; i++){
			if(checkboxes[i].checked){
				return true
			}
		}
		alert ('Selecciona al menos un tag');
		return false;
}
</script>


</body>
</html>